* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-orange: #f56900;
  --primary-gray: #86868b;
  --primary-gray-2: #49494b;
}

html {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

p {
  color: var(--primary-gray);
}

.webgl-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  section {
    background: rgba(255, 255, 255, 0.8);
  }
  .webgl-wrapper {
    z-index: -1;
    background: red;
  }
  p {
    color: var(--primary-gray-2);
  }
}

section {
  min-height: 100vh;
  max-width: 1640px;
  background: blue !important;
  margin: 0 auto;
  padding: 0 2rem;
}
/* LEVA */
/* .top-left,
.leva-c-kWgxhW-eXrJvq-flat-false {
  top: 80px;
} */

.webgl-wrapper:has(.top-left, .leva-c-kWgxhW-eXrJvq-flat-false) .top-left,
.leva-c-kWgxhW-eXrJvq-flat-false {
  top: 80px;
}
