* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-orange: #f56900;
  --primary-gray: #86868b;
}

html {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.webgl-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

section {
  min-height: 100vh;
  /* border: 2px solid red; */
  padding: 0 2rem;
}
